<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishAot>true</PublishAot>
  </PropertyGroup>
</Project>
